In [1]:
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

In [2]:
tf.__version__

'2.3.0'

In [3]:
df = pd.read_excel("real_estate.xlsx")#,parse_dates = ["transaction_date"])
#df.rename(columns = {"X1 transaction date":"transaction_date","X2 house age":"house_age","X3 distance to the nearest MRT station":"distance_mrt_station","X4 number of convenience stores":"convenience_stores","X5 latitude":"latitude","X6 longitude":"longitude","Y house price of unit area":"price"},inplace = True)

In [4]:
df.rename(columns = {"X1 transaction date":"transaction_date","X2 house age":"house_age","X3 distance to the nearest MRT station":"distance_mrt_station","X4 number of convenience stores":"convenience_stores","X5 latitude":"latitude","X6 longitude":"longitude","Y house price of unit area":"price"},inplace = True)

In [5]:
df.head()

,No,transaction_date,house_age,distance_mrt_station,convenience_stores,latitude,longitude,price
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [6]:
df.to_excel("estate.xlsx",index = False)

In [7]:
df1 = pd.read_excel("estate.xlsx",parse_dates=["transaction_date"],index_col = "No")

In [8]:
df1.head()

,transaction_date,house_age,distance_mrt_station,convenience_stores,latitude,longitude,price
No,,,,,,,
1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [9]:
df1.drop(columns=['transaction_date'],inplace = True)

In [10]:
X = df1.iloc[:, :-1].values
y = df1.iloc[:, -1].values

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [18]:
model1 = tf.keras.models.Sequential([
tf.keras.layers.Flatten(),
tf.keras.layers.Dense(512,activation=tf.nn.elu),
tf.keras.layers.Dropout(0.2),
#tf.keras.layers.Dense(512,activation=tf.nn.elu),
tf.keras.layers.Dense(512,activation=tf.nn.elu),
tf.keras.layers.Dropout(0.2),
tf.keras.layers.Dense(125,activation=tf.nn.elu),
tf.keras.layers.Dense(64,activation=tf.nn.elu),
#tf.keras.layers.Dense(15,activation = tf.nn.tanh),
tf.keras.layers.Dense(1)#,activation=tf.nn.sigmoid)
])

In [13]:
epochs = 100
batch_size = 16

In [19]:
optimiser = tf.keras.optimizers.Adam(lr = 0.01)
model1.compile (optimizer= optimiser, loss='mean_squared_error')#, metrics = ['accuracy'])
model1.fit(X_train,y_train,epochs = epochs,batch_size = batch_size)

Epoch 1/100
21/21 [==============================] - 0s 9ms/step - loss: 57208.3750
Epoch 2/100
21/21 [==============================] - 0s 9ms/step - loss: 317.4721
Epoch 3/100
21/21 [==============================] - 0s 9ms/step - loss: 200.9710
Epoch 4/100
21/21 [==============================] - 0s 6ms/step - loss: 175.3372
Epoch 5/100
21/21 [==============================] - 0s 8ms/step - loss: 169.7399
Epoch 6/100
21/21 [==============================] - 0s 10ms/step - loss: 148.1056
Epoch 7/100
21/21 [==============================] - 0s 11ms/step - loss: 126.9738
Epoch 8/100
21/21 [==============================] - 0s 10ms/step - loss: 141.1532
Epoch 9/100
21/21 [==============================] - 0s 6ms/step - loss: 148.9475
Epoch 10/100
21/21 [==============================] - 0s 11ms/step - loss: 124.7082
Epoch 11/100
21/21 [==============================] - 0s 10ms/step - loss: 117.6347
Epoch 12/100
21/21 [==============================] - 0s 10ms/step - loss: 115.0769
Epoch 13/100
21/21 [==============================] - 0s 9ms/step - loss: 132.1277
Epoch 14/100
21/21 [==============================] - 0s 7ms/step - loss: 98.8994
Epoch 15/100
21/21 [==============================] - 0s 10ms/step - loss: 108.3277
Epoch 16/100
21/21 [==============================] - 0s 11ms/step - loss: 109.2695
Epoch 17/100
21/21 [==============================] - 0s 11ms/step - loss: 105.5322
Epoch 18/100
21/21 [==============================] - 0s 6ms/step - loss: 105.9574
Epoch 19/100
21/21 [==============================] - 0s 6ms/step - loss: 106.2828
Epoch 20/100
21/21 [==============================] - 0s 6ms/step - loss: 119.2145
Epoch 21/100
21/21 [==============================] - 0s 6ms/step - loss: 105.5217
Epoch 22/100
21/21 [==============================] - 0s 6ms/step - loss: 107.8927
Epoch 23/100
21/21 [==============================] - 0s 6ms/step - loss: 97.9214
Epoch 24/100
21/21 [==============================] - 0s 6ms/step - loss: 108.5381
Epoch 25/100
21/21 [==============================] - 0s 6ms/step - loss: 96.5584
Epoch 26/100
21/21 [==============================] - 0s 6ms/step - loss: 108.3835
Epoch 27/100
21/21 [==============================] - 0s 6ms/step - loss: 119.4409
Epoch 28/100
21/21 [==============================] - 0s 6ms/step - loss: 118.2653
Epoch 29/100
21/21 [==============================] - 0s 6ms/step - loss: 113.8284
Epoch 30/100
21/21 [==============================] - 0s 6ms/step - loss: 101.7522
Epoch 31/100
21/21 [==============================] - 0s 6ms/step - loss: 103.8780
Epoch 32/100
21/21 [==============================] - 0s 6ms/step - loss: 111.9471
Epoch 33/100
21/21 [==============================] - 0s 6ms/step - loss: 98.7738
Epoch 34/100
21/21 [==============================] - 0s 6ms/step - loss: 107.8684
Epoch 35/100
21/21 [==============================] - 0s 6ms/step - loss: 100.9529
Epoch 36/100
21/21 [==============================] - 0s 10ms/step - loss: 108.0612
Epoch 37/100
21/21 [==============================] - 0s 10ms/step - loss: 93.3588
Epoch 38/100
21/21 [==============================] - 0s 6ms/step - loss: 83.0269
Epoch 39/100
21/21 [==============================] - 0s 9ms/step - loss: 109.2021
Epoch 40/100
21/21 [==============================] - 0s 10ms/step - loss: 92.4937
Epoch 41/100
21/21 [==============================] - 0s 10ms/step - loss: 85.1998
Epoch 42/100
21/21 [==============================] - 0s 11ms/step - loss: 91.1923
Epoch 43/100
21/21 [==============================] - 0s 6ms/step - loss: 84.5708
Epoch 44/100
21/21 [==============================] - 0s 10ms/step - loss: 98.7796
Epoch 45/100
21/21 [==============================] - 0s 10ms/step - loss: 84.6545
Epoch 46/100
21/21 [==============================] - 0s 10ms/step - loss: 90.0658
Epoch 47/100
21/21 [==============================] - 0s 9ms/step - loss: 90.3302
Epoch 48/100
21/21 [==============================] - 0s 6ms/step - loss: 95.9706
Epoch 49/100
21/21 [==============================] - 0s 6ms/step - loss: 96.2126
Epoch 50/100
21/21 [==============================] - 0s 7ms/step - loss: 92.3611
Epoch 51/100
21/21 [==============================] - 0s 7ms/step - loss: 90.0764
Epoch 52/100
21/21 [==============================] - 0s 10ms/step - loss: 83.5957 0s - loss: 91.
Epoch 53/100
21/21 [==============================] - 0s 9ms/step - loss: 88.3046
Epoch 54/100
21/21 [==============================] - 0s 6ms/step - loss: 84.4593
Epoch 55/100
21/21 [==============================] - 0s 7ms/step - loss: 89.0516
Epoch 56/100
21/21 [==============================] - 0s 10ms/step - loss: 88.2797
Epoch 57/100
21/21 [==============================] - 0s 10ms/step - loss: 87.0064
Epoch 58/100
21/21 [==============================] - 0s 9ms/step - loss: 84.8225
Epoch 59/100
21/21 [==============================] - 0s 5ms/step - loss: 87.8100
Epoch 60/100
21/21 [==============================] - 0s 10ms/step - loss: 77.2242
Epoch 61/100
21/21 [==============================] - 0s 10ms/step - loss: 86.3534
Epoch 62/100
21/21 [==============================] - 0s 11ms/step - loss: 81.9729
Epoch 63/100
21/21 [==============================] - 0s 9ms/step - loss: 80.3994
Epoch 64/100
21/21 [==============================] - 0s 6ms/step - loss: 93.8487
Epoch 65/100
21/21 [==============================] - 0s 8ms/step - loss: 91.5421
Epoch 66/100
21/21 [==============================] - 0s 10ms/step - loss: 81.9995
Epoch 67/100
21/21 [==============================] - 0s 9ms/step - loss: 87.1694
Epoch 68/100
21/21 [==============================] - 0s 9ms/step - loss: 79.5754
Epoch 69/100
21/21 [==============================] - 0s 9ms/step - loss: 87.6500
Epoch 70/100
21/21 [==============================] - 0s 9ms/step - loss: 95.7498
Epoch 71/100
21/21 [==============================] - 0s 9ms/step - loss: 76.0419
Epoch 72/100
21/21 [==============================] - 0s 9ms/step - loss: 88.7095
Epoch 73/100
21/21 [==============================] - 0s 9ms/step - loss: 92.5663
Epoch 74/100
21/21 [==============================] - 0s 6ms/step - loss: 81.5580
Epoch 75/100
21/21 [==============================] - 0s 6ms/step - loss: 84.6493
Epoch 76/100
21/21 [==============================] - 0s 7ms/step - loss: 79.6320
Epoch 77/100
21/21 [==============================] - 0s 9ms/step - loss: 85.4060
Epoch 78/100
21/21 [==============================] - 0s 9ms/step - loss: 79.5996
Epoch 79/100
21/21 [==============================] - 0s 9ms/step - loss: 80.4201
Epoch 80/100
21/21 [==============================] - 0s 6ms/step - loss: 79.9706
Epoch 81/100
21/21 [==============================] - 0s 7ms/step - loss: 80.1276
Epoch 82/100
21/21 [==============================] - 0s 10ms/step - loss: 76.7955
Epoch 83/100
21/21 [==============================] - 0s 9ms/step - loss: 78.3431
Epoch 84/100
21/21 [==============================] - 0s 9ms/step - loss: 86.4669
Epoch 85/100
21/21 [==============================] - 0s 7ms/step - loss: 77.0564
Epoch 86/100
21/21 [==============================] - 0s 6ms/step - loss: 75.2811
Epoch 87/100
21/21 [==============================] - 0s 6ms/step - loss: 74.0699
Epoch 88/100
21/21 [==============================] - 0s 9ms/step - loss: 77.7419
Epoch 89/100
21/21 [==============================] - 0s 9ms/step - loss: 81.4316
Epoch 90/100
21/21 [==============================] - 0s 9ms/step - loss: 85.2036
Epoch 91/100
21/21 [==============================] - 0s 9ms/step - loss: 79.6650
Epoch 92/100
21/21 [==============================] - 0s 9ms/step - loss: 98.7957
Epoch 93/100
21/21 [==============================] - 0s 9ms/step - loss: 81.6312
Epoch 94/100
21/21 [==============================] - 0s 9ms/step - loss: 89.4445
Epoch 95/100
21/21 [==============================] - 0s 9ms/step - loss: 89.5585
Epoch 96/100
21/21 [==============================] - 0s 6ms/step - loss: 86.4554
Epoch 97/100
21/21 [==============================] - 0s 6ms/step - loss: 79.8132
Epoch 98/100
21/21 [==============================] - 0s 6ms/step - loss: 83.2337
Epoch 99/100
21/21 [==============================] - 0s 6ms/step - loss: 78.8472
Epoch 100/100

21/21 [==============================] - 0s 6ms/step - loss: 76.0138

In [15]:
y_pred = model1.predict(X_test)

In [16]:
import numpy as np

In [17]:
#np.set_printoptions(precision=2)
pd.DataFrame((np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1)),columns =['predictions','test'])

    predictions  test
0     50.636711  45.3
1     22.795511  14.4
2     43.589333  46.0
3     22.797884  15.6
4     44.910751  50.2
..          ...   ...
78    50.937992  53.0
79    35.730278  38.2
80    49.484402  46.7
81    30.074198  24.6
82    40.633518  36.2

[83 rows x 2 columns]